@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
	margin: 0 20%;
	padding: 0;
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	color: white;
}

.add {
	width: 60%;
	height: 50px;
	margin-bottom: 50px;
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0%;
	left: 20%;
	right: 20%;
}

@media only screen and (max-width: 600px) {
	body {
		margin: 0 1%;
	}

	.add {
		width: 98%;
		position: fixed;
		top: 0%;
		left: 1%;
		right: 1%;
	}
}

.todolist {
	margin-top: 100px;
	margin-bottom: 25px;
	display: flex;
	flex-direction: column;
}

.donelist {
	margin-top: 25px;
	display: flex;
	flex-direction: column;
}

input {
	font-size: 24px;
	font-family: 'Raleway', sans-serif;
	color: white;
}

button {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	border: none;
	color: white;
	cursor: pointer;
	background-color: rgba(0,170,170, 1);
}

.actionimg {
	height: 1em;
	margin: 0 10px;
	cursor: pointer;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.row {
	margin: 0;
	margin: 5px 0;
	padding: 5px 5px;
	display: inherit;
	justify-content: space-between;
	background-color: rgba(150, 50, 100, 1);
}

.donelist .row {
	background-color: rgba(0, 170, 0, 0.7);
}

div.add input {
	width: 80%;
	background-color: rgba(0,170,170, 1);;
	border: none;
	padding: 0 0 0 10px;
}

.add button {
	width: 20%;
	background-color: rgba(250,0,0, 1);
}


.row div {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
}

.row div button {
	margin: 0 10px;
}

.msg {
	/*background-color: #999999;*/
	color: #999999;
	font-size: 12px;
	padding: 0;
}

.alert {
	display: none;
	background-color: orange;
	position: fixed;
	width: 60%;
	top: 20%;
	left: 20%;
	right: 20%;
}

.alert button {
	margin: 5px 10px;
}
